*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
:root{
    --main-color:#000000;
    --box-shadow: 0 10px 20px rgba(0,0,0,0,19),0 6px 6px rgba(0,0,0,0,23);
}
*::selection{
    background-color: var(--main-color);
    color: #fff;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}
section{
    padding: 3rem 9%;
}
.btn{
    display: inline-block;
    padding: 1rem ;
    margin-top: 1rem;
    background-color: #000000 ;
    color: #fff;
    cursor: pointer;
    width: 200px;
    text-align: center;
    position: relative;
    z-index: 100;
    font-size: 2rem;
}
.btn::before{
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    color: rgb(0, 0, 0);
    left: 0;
    top: 0;
    transition: .5s;
    z-index: -10;
}
.btn:hover::before{
    width: 100%;
}
.heading{
    text-align: center;
    color: var(--main-color);
    font-size: 3rem;
    padding: 1rem 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    transition: .5s;
}
header.active{
    box-shadow: 0 5px 10px 0 #aaa;
    background-color: #fff;
}
header .navbar a{
    font-size: 2rem;
    margin-left: 2.5rem;
    color: var(--main-color);
}
header  .navbar a:hover,header i:hover,header #menu-bar:hover{
    color: black;
}
header .icon{
    display: flex;
}
header .icon i{
    font-size: 2rem;
    margin: 0 .5rem;
    color: var(--main-color);
    cursor: pointer;
}
#menu-bar{
    font-size: 2rem;
    color: var(--main-color);
    cursor:pointer;
    margin-left: .6rem;
    display: none;
}


/* home start */
.home{
width: 100%;
height: 100vh;
background-position: center;
background-size: cover;
display: flex;
justify-content: flex-start;
text-align: justify;
align-items: center;
animation: image 4s infinite alternate;
}
@keyframes image{
    0%{
        background-image: url('flowerwebsite/Slider/slider1.jpg');
    }
    100%{
        background-image: url('flowerwebsite/Slider/slider2.jpg');
    }
    0%{
        background-image: url('flowerwebsite/Slider/slider3.jpg');
    }
}
.home .detail span{
    background-color: var(--main-color);
    padding: 1rem 3rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
}
.home .detail h1{
    font-size: 5rem;
    margin-top: 2.5rem;
}
.home .detail p{
    color: black;
    line-height: 2;
    font-size: 20px;
    margin: 1.5rem 0;
}

/* home end */

/* service start */
.services{
    padding:6%;
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(45rem,1fr));
    align-items: center;
    justify-content: center;
}
.services .box-container .box{
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 1rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    text-align: center;
    line-height: 1.5;
    border-bottom: 5px solid var(--main-color);
}
.services .box-container .box .detail{
    border-left: 1px solid #000;
    padding-left: 2rem;
}
.services .box-container .box h4{
    font-size: 2rem;
    color: var(--main-color);
    text-transform: capitalize;
}
.services .box-container .box span{
    font-size: 1.7rem;
}
.services .box-container .box img{
    width: 100px;
}
/* service end  */

/* shop start */
.shop{
    padding: 10%;
    
}

.shop .box-container{
    margin: 3 rem 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
    gap: 1rem;
    align-items: center;
}

.shop .box-container .box{
position: relative;
width: 100%;
overflow: hidden;
cursor: pointer;
transition: .5s;
margin: 1rem;
text-align: center;
box-shadow: var(--box-shadow);
}

.shop .box-container .box img{
width: 80%;
margin: .7rem;
border-radius: 15px;
display: inline-block;
transition: .5s;
}

.shop .box-container .box:hover img{
    transform: scale(1.1);
}
.shop .box-container .box .price{
    position: absolute;
    text-align: center;
    top: 5%;
    font-size: 13px;
    padding: .5rem 1rem;
    color: #fff;
    background-color: var(--main-color);
}
.shop .box-container .box .detail{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
}
.shop .box-container .box h1{
    font-size: 2rem;
    color: #000;
}
.shop .box-container .box .icon{
display: flex;
align-items: center;
justify-content: center;
font-size: 1.5rem;
}
.shop .box-container .box .icon i{
    cursor: pointer;
    margin: 1rem;
}



/* contact */

.new_home_web .text-blk.subHeading {
    text-align: center;
    color: #939393;
    max-width: 630px;
  }
  
  .new_home_web .text-blk.heading {
    font-size: 36px;
    line-height: 55px;
    font-weight: 600;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .new_home_web .responsive-container-block.textContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    max-width: 1320px;
    z-index: 50;
  }
  
  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    width: 50%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  
  .new_home_web .send:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
  }
  
  .new_home_web .send {
    font-size: 18px;
    color: white;
    font-weight: 600;
    background-color: #ea5541;
    width: 80%;
    text-align: center;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  .new_home_web .container-block.form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 50;
  }
  
  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: 1100px;
  }
  
  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-width: 310px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    width: 100%;
  }
  
  .new_home_web .textinput {
    height: 100%;
    width: 100%;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #a2a2a2;
    border-right-color: #a2a2a2;
    border-bottom-color: #a2a2a2;
    border-left-color: #a2a2a2;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
  }
  
  .new_home_web .input {
    height: 50px;
    width: 100%;
    border-top-width: 2.5px;
    border-right-width: 2.5px;
    border-bottom-width: 2.5px;
    border-left-width: 2.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #a2a2a2;
    border-right-color: #a2a2a2;
    border-bottom-color: #a2a2a2;
    border-left-color: #a2a2a2;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-color: #f1f1f1;
  }
  
  .new_home_web .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .new_home_web .responsive-container-block.container {
    max-width: 1320px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    z-index: 50;
  }
  
  .new_home_web .responsive-cell-block {
    min-height: 75px;
  }
  
  .new_home_web textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .new_home_web input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .new_home_web a {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  
  .new_home_web .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }
  
  .new_home_web * {
    font-family: Nunito, sans-serif;
  }
  
  .new_home_web .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .new_home_web .left4 {
    width: 50%;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .new_home_web .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.lastPhone {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .new_home_web .orangeText {
    color: #ea5541;
  }
  
  .new_home_web .orangeLine {
    height: 10px;
    width: 160px;
    background-color: #eb604d;
  }
  
  .new_home_web .topHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin: 0 0 25px 0;
  }
  
  .new_home_web .imgBG {
    position: absolute;
    width: 80%;
    height: 100%;
    left: auto;
    right: 0px;
    top: auto;
    bottom: 0px;
  }
  
  @media (max-width: 1024px) {
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 60px;
      padding-left: 0px;
    }
  
    .new_home_web .responsive-container-block.container {
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      margin: 0 0 10px 0;
    }
  
    .new_home_web .container-block.form-wrapper {
      align-items: center;
    }
  
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      width: 100%;
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
      width: 100%;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 20px;
      padding-left: 0px;
    }
  
    .new_home_web .responsive-container-block.container {
      flex-direction: column;
    }
  
    .new_home_web .textinput {
      width: 100%;
    }
  
    .new_home_web .input {
      width: 100%;
    }
  
    .new_home_web .left4 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 25px;
      margin-left: 0px;
    }
  
    .new_home_web .responsive-container-block {
      flex-direction: column;
      align-items: center;
    }
  
    .new_home_web .textinput {
      height: 200px;
    }
  
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
      width: 100%;
    }
  
    .new_home_web .imgBG {
      width: 100%;
      height: 90%;
      top: auto;
      left: auto;
    }
  
    .new_home_web .text-blk.heading {
      font-size: 30px;
    }
  }
  
  @media (max-width: 500px) {
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      flex-wrap: wrap;
    }
  
    .new_home_web .send {
      padding-top: 15px;
      padding-right: 0px;
      padding-bottom: 15px;
      padding-left: 0px;
      text-align: center;
      width: 70%;
    }
  
    .new_home_web .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .new_home_web .text-blk.heading {
      font-size: 30px;
      text-align: center;
      line-height: 35px;
    }
  
    .new_home_web .send {
      width: 100%;
      max-width: 250px;
    }
  
    .new_home_web .imgBG {
      height: 60%;
    }
  
    .new_home_web .text-blk.subHeading {
      font-size: 16px;
      line-height: 24px;
    }
  
    .new_home_web .responsive-container-block.textContainer {
      margin: 50px 0 30px 0;
    }
  
    .new_home_web .input {
      height: 45px;
    }
  
    .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin: 0 0 10px 0;
    }
  }








/* shop end */

/* footer  */

*, *:before, *:after {
  box-sizing: border-box;
}


body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
/* media screen */

@media(max-width:768px){
    #menu-bar{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: .1rem solid #000;
        padding: 1rem 2rem;
        clip-path: polygon(0 0,100% 0, 100% 0,0 0);
    }
    header .navbar .nav-toggle{
        clip-path: polygon(0 0,100% 100%,0 100%);
    }
header .navbar a{
    display: block;
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: black;
    text-align: center;
    border-radius: .5rem;
    color: #fff;
    transition: .5s;
}
header  .navbar a:hover{
    background-color: var(--main-color);
    color: #feffff;
}
.fa-times{
    transform: rotate(180deg);
}
}
























